<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_FMart_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PRN221_FMart_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <!--
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PRN221_FMart_Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/img/logo.png" alt="logo" />
                </span>

                <div class="text header-text">
                    <span class="name">FMART</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <div class="icon-link">
                            <a style="cursor: unset">
                                <i class="bx bx-cart icon"></i>
                                <span class="text nav-text">SALE</span>
                            </a>
                            <i class="bx bxs-chevron-down text arrow"></i>
                        </div>
                        <ul class="sub-menu">
                            <li>
                                <span class="text nav-text">SALE</span>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Invoices/InvoiceList">Invoice</a>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Sale">Sale</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a style="cursor: unset">
                                <i class="bx bx-group icon"></i>
                                <span class="text nav-text">PARTNER</span>
                            </a>
                            <i class="bx bxs-chevron-down text arrow"></i>
                        </div>
                        <ul class="sub-menu">
                            <li>
                                <span class="text nav-text">PARTNER</span>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Customers/Index">Customer</a>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Suppliers/Index">Supplier</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a style="cursor: unset">
                                <i class="bx bx-package icon"></i>
                                <span class="text nav-text">PRODUCT</span>
                            </a>
                            <i class="bx bxs-chevron-down text arrow"></i>
                        </div>
                        <ul class="sub-menu">
                            <li>
                                <span class="text nav-text">PRODUCT</span>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Categories/Index">Category</a>
                            </li>
                            <li>
                                <a asp-area="Staffs" asp-page="/Areas/Staffs/Products/Index">Product</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a href="#">
                                <i class="bx bx-store-alt icon"></i>
                                <span class="text nav-text">INVENTORY</span>
                            </a>
                        </div>
                        <ul class="sub-menu blank">
                            <li>
                                <a class="text nav-text">INVENTORY</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a asp-area="Staffs" asp-page="/Areas/Staffs/Dashboard">
                                <i class="bx bx-bar-chart-alt-2 icon"></i>
                                <span class="text nav-text">DASHBOARD</span>
                            </a>
                        </div>
                        <ul class="sub-menu blank">
                            <li>
                                <a class="text nav-text" asp-area="Staffs" asp-page="/Areas/Staffs/Dashboard">DASHBOARD</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a href="#">

                                <i class="bx bx-user-circle icon"></i>
                                <span class="text nav-text">STAFF</span>
                            </a>
                        </div>
                        <ul class="sub-menu blank">
                            <li>
                                <a class="text nav-text">STAFF</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li class="nav-link">
                        <div class="icon-link">
                            <a href="#profileModal">
                                @{
                                    var fullname = Context.Session.GetString("FullName");
                                }
                                <i class="bx bxs-id-card icon"></i>
                                <span class="text nav-text">@fullname</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-link">
                        <div class="icon-link">
                            <form method="post">
                                <button asp-page="/Login" asp-page-handler="Logout">
                                    <i class="bx bx-log-out icon"></i>
                                    <span class="text nav-text">LOGOUT</span>
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    @*<div class="modal fade center" id="profileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Update account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="profileForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" required>
                            <label for="phoneNumber" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="Email" disabled>
                            <label for="role" class="form-label">Role</label>
                            <input type="text" class="form-control" id="role" name="Role" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" id="updateProfileBtn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@
    <div class="home">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PRN221_FMart_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>