

<ul class="navbar-nav">

    <li class="nav-item">
        <form method="post">
            <button asp-page="/Login" asp-page-handler="Logout">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
            </button>
        </form>
    </li>
</ul>
