@page
@model DemoPE.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="m-3 text-center">
    <h1>Access Denied</h1>
    <h3>You have no permission to view this page.</h3>
</div>
