@page
@model DemoPE.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    Layout = null;
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="m-3 text-center access-denied center">
    <img class="access-denied-img" src="~/img/access-denied.svg" />
    <h1>Access Denied</h1>
    <h3>You have no permission to view this page.</h3>
</div>
