* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #32be8f;
    --primary-color-light: #97e7a2;
    --toggle-button: #ddd;
    --text-color: #fff;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    background: var(--body-color);
}

ul{
    padding-left: 0 !important;
}

li.nav-link{
    padding: 0rem 0;
}

.home{
    position: relative;
    left: 260px;
    height: 100vh;
    width: calc(100% - 260px);
    transition: var(--tran-05);
    background: var(--body-color);
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table{
    margin: 40px 40px;
}

/*=========== Reusable CSS ============*/
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

/*=========== Sidebar ============*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--primary-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar.close .text{
    display: none;
    white-space: nowrap;
}

.sidebar li {
    height: max-content;
/*    margin-top: 10px;*/
    list-style: none;
/*    display: flex;
    align-items: center;*/
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
    font-size: 24px;
}

.header-text .profession {
    margin-top: -2px;
    font-weight: bold;
    color: var(--text-color);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar header .toggle {
    border: 3px solid var(--primary-color);
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar li a,
.sidebar li button{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    width: 100%;
}

.sidebar li.nav-link .icon-link:hover {
    background: var(--primary-color-light);
}

.sidebar li.nav-link .icon-link:hover .icon,
.sidebar li.nav-link .icon-link:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar{
    position: relative;
    top: 10px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav-link .icon-link{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-link .sub-menu{
/*    margin-top: -10px;
    background: var(--primary-color-light);*/
    transition: var(--tran-02);
    display: none;
}

.sidebar .nav-link .arrow{
    margin-right: 10px
}

.sidebar .nav-link.show .sub-menu {
    display: block;
}

.sidebar .nav-link.show .arrow {
    transform:  rotate(180deg);
}

.sidebar .nav-link .sub-menu a,
.sidebar .nav-link .sub-menu button{
    color: var(--text-color);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    transition: var(--tran-03);
}

.sidebar li button{
    border: none;
    background: transparent;
}

.sidebar .nav-link .sub-menu li{
    margin-top: 0px;
    padding-left: 40px;
    height: max-content;
    transition: var(--tran-02);
}

.sidebar .nav-link .sub-menu li:hover{
    background: var(--primary-color-light);
}

.sidebar.close .nav-link{
    display: flex;
}

.sidebar.close .nav-link .sub-menu {
    position: absolute;
    left: 100%;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: var(--tran-04);
    display: none;
    pointer-events: none;
    background: var(--primary-color);
}

.sidebar.close .nav-link:hover .sub-menu {
    display: block;
    pointer-events: auto;
    background: var(--primary-color);
}

.sidebar.close .nav-link .sub-menu a,
.sidebar.close .nav-link .sub-menu button{
    color: var(--text-color);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: var(--tran-03);
}

.sidebar.close .nav-link .sub-menu li:hover:first-child{
    background: transparent;
}

.sidebar.close .nav-link .sub-menu li:hover:not(:first-child),
.sidebar.close .nav-link .sub-menu.blank li:hover{
    padding-left: 20px;
}

.sidebar.close .nav-link .sub-menu a:hover {
    opacity: 1;
}

.sidebar .nav-link .sub-menu .text.nav-text{
    display: none;
}

.sidebar.close .nav-link .sub-menu .text.nav-text{
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar.close .nav-link:hover .sub-menu.blank{
    opacity: 1;
    cursor: pointer;
/*    padding: 3px 20px 6px 16px;*/
}

/* ========= HEADER BAR ============*/
.header-bar{
    background: var(--sidebar-color);
    height: 50px;
    width: 100%;
    justify-items: center;
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.header-bar i{
    font-size: 35px;
    margin-right: 10px;
}

/* ========= PRODUCT FIELD ============*/
.search-product{
    height: 50px;
    justify-content: center;
}

.search-product input{
    margin-left: 20px;
    width: 250px;
}

/* ========= CUSTOMER FIELD ============*/
.customer-field {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(229 231 235 / 1);
}

.customer-field>*{
    padding: 3px;
}

.customer-field button{
    border-radius: 0 6px 6px 0;
    border: 1px solid #ced4da;
    background: transparent;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 .5rem;
}

.customer-field .customer-search{
    flex: 1 1 auto;
}

.customer-field .customer-search input {
    min-width: 0;
    text-overflow: ellipsis;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 6px 0 0 6px;
}

/* ========= SALE FORM ============*/
.customer-info {
    font-size: 13px;
    flex: 1 1 auto;
}

.customer-full-name {
    margin-bottom: 0;
    font-weight: 500;
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.customer-info p{
    margin-bottom: 0;
}

.cart-customer .customer-remove{
    align-content: center;
    cursor: pointer;
}

.cart{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.cart-customer {
    padding: .5rem;
    border-bottom: 1px solid rgb(229 231 235 / 1);
    flex: none;
    display: flex;
}

.cart-items{
    overflow: auto;
    flex: 1 1 auto;
    padding: 5px 5px;
}

.cart-summary {
    background: #fef2f2e6;
    backdrop-filter: blur(6px);
    padding: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    flex: none;
}

.empty-list{
    height: 200px;
}

.into-money{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.cart-payment{
    background: #fffc;
    backdrop-filter: blur(2px);
    padding: .5rem;
    gap: .5rem;
    flex: none;
    display: flex;
}

.salebox {
    height: calc(100vh - 50px);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.salebox .row {
    margin-right: 0;
    margin-left: 0;
}

.salebox .row>*{
    padding-right: 0;
    padding-left: 0;
}

.salebox .col-lg-9{
    background: var(--body-color);
}

.product-wrapper {
    margin: 10px 5px;
    background: #fff;
    border: 1px solid #808080;
    border-radius: 6px;
    max-height: 270px;
    cursor: pointer;
}

.product-wrapper:hover{
    border: 1px solid #000;
}

.product-img{
    height: 150px;
}

.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-content span {
    padding: 5px 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ========= CART ITEMS ============*/
.cart-item {
    display: flex;
    width: 100%;
    gap: .25rem;
    overflow: hidden;
    flex-wrap: nowrap;
    font-size: 13px;
    padding: 0 5px;
}

.item-index{
    width: 0.8rem;
    flex: none;
    justify-content: start;
}

.item-info{
    flex: 1 1 auto;
}

.item-name{
    align-items: center;
    display: flex;
}

.item-name p{
    margin-bottom: 0;
    font-weight: 500;
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-quantity{
    position: relative;
    display: flex;
    isolation: isolate;
}

.item-quantity a{
    width: 1.5rem;
    height: 2rem;
    border: 1px solid #ced4da;
    background: #fff;
    color: #000;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.item-quantity .minus{
    border-radius: 6px 0 0 6px;
}

.item-quantity .plus{
    border-radius: 0 6px 6px 0;
}

.item-quantity>*:hover{
    border-color: #000;
}

.item-quantity input{
    width: 1.5rem;
    height: 2rem;
    text-align: center;
    margin-left: .125rem;
    margin-right: .125rem;
    display: flex;
    flex: 1 1 0;
}

.item-total {
    height: 2rem;
    align-content: center;
    font-weight: 500;
}

.item-action{
    height: 2rem;
    align-content: center;
}

.item-action .remove{
    border: none;
    background: transparent;
    font-size: 17px;
    color: #000;
    cursor: pointer;
}

.autocomplete-items {
    position: fixed;
    padding: 0 7px;
    background: #fff;
    border: 1px solid;
    width: 100%;
    cursor: pointer;
    align-content: center;
}

.autocomplete-items div{
    height: 30px;
}

.numeric-field{
    padding: 80px 30px;
}

.metric-item{
    padding: 10px;
}

.metric-container{
    height: 145px;
    border-radius: 24px;
    padding: 20px 40px;
    align-items: flex-start;
    justify-content: center;
}

.metric-value{
    font-weight: 600;
    margin: 5px 0;
    font-size: 18px;
    color: var(--primary-color);
}

.access-denied{
    text-align: center;
    justify-content: center;
}

.access-denied img{
    height: 40vh;
    width: 100%;
}

.access-denied h1{
    padding-top: 40px;
}