@page
@model PRN221_FMart_Project.Pages.Areas.Staffs.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label"></label>
                <input asp-for="Product.ProductDescription" class="form-control" />
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierId" class="control-label"></label>
                <select asp-for="Product.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.RetailPrice" class="control-label"></label>
                <input asp-for="Product.RetailPrice" class="form-control" />
                <span asp-validation-for="Product.RetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImportPrice" class="control-label"></label>
                <input asp-for="Product.ImportPrice" class="form-control" />
                <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StockQty" class="control-label"></label>
                <input asp-for="Product.StockQty" class="form-control" />
                <span asp-validation-for="Product.StockQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SaleQty" class="control-label"></label>
                <input asp-for="Product.SaleQty" class="form-control" />
                <span asp-validation-for="Product.SaleQty" class="text-danger"></span>
            </div>
            @{
                var proImg = string.IsNullOrEmpty(Model.Product.ProductImg) ? "/img/empty.png" : Model.Product.ProductImg;
            }
            <img src="@proImg" style="height: 200px;"/>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Barcode" class="control-label"></label>
                <input asp-for="Product.Barcode" class="form-control" />
                <span asp-validation-for="Product.Barcode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsActive" /> @Html.DisplayNameFor(model => model.Product.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
